/* COLOR */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertary: #99E2D0;
$gradient1: linear-gradient($color-secondary, $color-primary);
$gradient2: linear-gradient($color-primary, $color-secondary);