/* COLOR */
.new, .card, .working_menu, .btn, .header {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.9);
}

.restaurants {
  padding: 50px 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    z-index: 2;
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: 0;
  }
}
@keyframes fondu {
  0% {
    z-index: 2;
    opacity: 1;
  }
  50% {
    opacity: 1;
    z-index: 2;
  }
  75% {
    opacity: 0.7;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.loading {
  width: 100vw;
  height: 100%;
  background-color: rgba(146, 86, 220, 0.4039215686);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fondu 3s linear;
}
.loading_spinner {
  font-size: 60px;
  animation: spin 2.5s linear;
  opacity: 0;
  color: #ff13be;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.header_logo {
  width: 50%;
}

.intro {
  background-color: rgba(235, 235, 235, 0.651);
}

.locate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(220, 220, 220, 0.4);
}
.locate .locate_text {
  padding-left: 10px;
  font-weight: 600;
}

.header_explain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
}
.header_explain_title {
  font-size: 26px;
  font-weight: bold;
}
.header_explain_desc {
  padding-bottom: 20px;
}

/* BUTTON EXPLORE + COMMAND */
.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
  padding: 15px 30px;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.7s;
}

/* WORKING */
.working_container {
  padding: 30px 10px 50px;
}

.working {
  display: flex;
  align-items: center;
  width: 100%;
}
.working_title {
  margin: 20px 10px;
}

.working_menu {
  background-color: rgba(245, 245, 245, 0.863);
  border-radius: 20px;
  padding: 25px;
  margin: 10px 20px;
  width: 100%;
  position: relative;
}
.working_menu_icon {
  color: rgb(97, 96, 96);
  padding: 0 10px;
}
.working_menu:hover {
  background-color: #f2eafb;
}
.working_menu:hover i {
  color: #9356DC;
}
.working_menu_number1 {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  border-radius: 100%;
  background-color: #9356DC;
  text-align: center;
  overflow: visible;
  position: absolute;
  z-index: 1;
  color: #fff;
}
.working_menu_desc {
  font-weight: 600;
}

/* CARD RESTAURANT */
.restaurants {
  background-color: #F2F2F2;
  height: 100%;
}
.restaurants_title {
  padding: 0 10px 10px;
}

.cards {
  text-decoration: none;
  color: #000;
}

.card {
  border-radius: 15px;
  height: 250px;
  margin: 20px 10px;
  position: relative;
}
.card_image {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card_body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 15px;
}
.card_body .heart_container {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.card_body .heart_container i, .card_body .heart_container .heart_square {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  font-size: 25px;
}
.card_body .heart_container .heart_square {
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
}
.card_body .heart_container .icon {
  opacity: 1;
}
.card_body .heart_container .icon1 {
  color: #9356DC;
  display: none;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.card_body .heart_container:hover .heart_square {
  height: 0;
  transition: 1s;
}
.card_body .heart_container:hover .icon1 {
  display: block;
}
.card_body .heart_container:hover .icon {
  height: 0;
  transition: 0.7s;
  opacity: 0;
}
.card_body_title {
  grid-row-start: 1;
  margin-top: 10px;
  font-weight: bold;
}
.card_body_city {
  grid-row-start: 2;
  margin: 0;
}

.new {
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 4px 12px 6px;
  border-radius: 3px;
  font-size: small;
  font-weight: 600;
  color: #217460;
  text-align: center;
}

/* FOOTER */
.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 20px;
}
.footer_logo {
  width: 50%;
  color: white;
  font-family: Shrikhand;
}
.footer_icon {
  width: 20px;
  font-size: smaller;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #FF79DA;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
